{% extends 'base.html' %}
{% block title %} {% endblock title %}
{% block content %}
    <section class="ab-info-main py-md-5 py-4 editContent" style="padding-left: 3rem; padding-right: 3rem;">
        {% block container %}
            <div class="container-fluid py-md-3">
        {% endblock container %}
        {% block index %}
        {% endblock index %}
        {% block picnic_area %}
        {% endblock picnic_area %}
        {% block add_new_element %}
        {% endblock add_new_element %}
        {% block categories %}
        {% endblock categories %}
        </div>
        </div>
    </section>
{% endblock content %}